@font-face {
    font-family: Oswald;
    src: url("fonts/Oswald/Oswald-Regular.ttf");
}
@font-face {
    font-family: Oswald-Bold;
    src: url("fonts/Oswald/Oswald-Bold.ttf");
}
@font-face {
    font-family: Oswald-Light;
    src: url("fonts/Oswald/Oswald-Light.ttf");
}
@font-face {
    font-family: 'Roboto-Light';
    src: url("fonts/Roboto/Roboto-Light.ttf");
}